/* .colors {
  padding: 0px;
} */

.color-card {
  margin: 0px 10px;
  padding: 5px;
  list-style: none;
}

.color-card__headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card__role {
  font-weight: bold;
}

.color-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px;
  padding: 5px;
}

.color-form__button {
  width: fit-content;
}

.color-form__input {
  width: fit-content;
}

.color-card__highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card__delete-buttons {
  display: flex;
  gap: 1em;
}

.color-card__contrast-score {
  width: fit-content;
}
