.color-cards {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.color-card {
  margin: 1em;
  list-style: none;
  width: 90vw;
}

.color-card__content {
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  border: 2px solid;
  box-shadow: 5px 5px 20px 0;
}

.color-card__header {
  display: flex;
  gap: 1em;
}
.color-card__headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card__role {
  font-weight: bold;
}

.color-card__highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card__delete-buttons {
  display: flex;
  gap: 1em;
}

.color-card__contrast-score {
  width: fit-content;
  border-radius: 0.3em;
  padding: 0.3em;
}

@media (min-width: 600px) {
  .color-card {
    width: 45vw;
  }
}

@media (min-width: 900px) {
  .color-card {
    width: 30vw;
  }
}
@media (min-width: 1200px) {
  .color-card {
    width: 20vw;
  }
}
